In [1]:
import os
os.getcwd()

'C:\\Users\\sreev'

In [2]:
os.chdir("C:/Users/sreev/Desktop/data sets")

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
data=pd.read_csv("crop pro.csv")
data

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.00
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.00
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.00
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.00
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.00
5,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Coconut,18168.0,65100000.00
6,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Dry ginger,36.0,100.00
7,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Sugarcane,1.0,2.00
8,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Sweet potato,5.0,15.00
9,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Tapioca,40.0,169.00
10,Andaman and Nicobar Islands,NICOBARS,2001,Kharif,Arecanut,1254.0,2061.00
11,Andaman and Nicobar Islands,NICOBARS,2001,Kharif,Other Kharif pulses,2.0,1.00
12,Andaman and Nicobar Islands,NICOBARS,2001,Kharif,Rice,83.0,300.00
13,Andaman and Nicobar Islands,NICOBARS,2001,Whole Year,Cashewnut,719.0,192.00
14,Andaman and Nicobar Islands,NICOBARS,2001,Whole Year,Coconut,18190.0,64430000.00
15,Andaman and Nicobar Islands,NICOBARS,2001,Whole Year,Dry ginger,46.0,100.00
16,Andaman and Nicobar Islands,NICOBARS,2001,Whole Year,Sugarcane,1.0,1.00
17,Andaman and Nicobar Islands,NICOBARS,2001,Whole Year,Sweet potato,11.0,33.00
18,Andaman and Nicobar Islands,NICOBARS,2002,Kharif,Rice,189.2,510.84
19,Andaman and Nicobar Islands,NICOBARS,2002,Whole Year,Arecanut,1258.0,2083.00
20,Andaman and Nicobar Islands,NICOBARS,2002,Whole Year,Banana,213.0,1278.00
21,Andaman and Nicobar Islands,NICOBARS,2002,Whole Year,Black pepper,63.0,13.50
22,Andaman and Nicobar Islands,NICOBARS,2002,Whole Year,Cashewnut,719.0,208.00
23,Andaman and Nicobar Islands,NICOBARS,2002,Whole Year,Coconut,18240.0,67490000.00
24,Andaman and Nicobar Islands,NICOBARS,2002,Whole Year,Dry chillies,413.0,28.80
25,Andaman and Nicobar Islands,NICOBARS,2002,Whole Year,Dry ginger,47.3,133.00
26,Andaman and Nicobar Islands,NICOBARS,2002,Whole Year,Sugarcane,5.0,40.00
27,Andaman and Nicobar Islands,NICOBARS,2003,Kharif,Rice,52.0,90.17
28,Andaman and Nicobar Islands,NICOBARS,2003,Whole Year,Arecanut,1261.0,1525.00
29,Andaman and Nicobar Islands,NICOBARS,2003,Whole Year,Banana,266.0,1763.00
...,...,...,...,...,...,...,...
246061,West Bengal,PURULIA,2014,Kharif,Bajra,49.0,19.00
246062,West Bengal,PURULIA,2014,Kharif,Mesta,159.0,2065.00
246063,West Bengal,PURULIA,2014,Kharif,Moong(Green Gram),181.0,100.00
246064,West Bengal,PURULIA,2014,Kharif,Moth,16.0,14.00
246065,West Bengal,PURULIA,2014,Kharif,Niger seed,204.0,74.00
246066,West Bengal,PURULIA,2014,Kharif,Other Kharif pulses,79.0,39.00
246067,West Bengal,PURULIA,2014,Kharif,Sannhamp,171.0,727.00
246068,West Bengal,PURULIA,2014,Kharif,Soyabean,18.0,7.00
246069,West Bengal,PURULIA,2014,Kharif,Sunflower,46.0,42.00
246070,West Bengal,PURULIA,2014,Kharif,Urad,11493.0,3287.00
246071,West Bengal,PURULIA,2014,Rabi,Arhar/Tur,671.0,723.00
246072,West Bengal,PURULIA,2014,Rabi,Gram,198.0,203.00
246073,West Bengal,PURULIA,2014,Rabi,Groundnut,30.0,25.00
246074,West Bengal,PURULIA,2014,Rabi,Horse-gram,660.0,332.00
246075,West Bengal,PURULIA,2014,Rabi,Khesari,146.0,126.00
246076,West Bengal,PURULIA,2014,Rabi,Linseed,160.0,51.00
246077,West Bengal,PURULIA,2014,Rabi,Masoor,31.0,19.00
246078,West Bengal,PURULIA,2014,Rabi,Moong(Green Gram),64.0,40.00
246079,West Bengal,PURULIA,2014,Rabi,Peas & beans (Pulses),12.0,12.00
246080,West Bengal,PURULIA,2014,Rabi,Potato,477.0,9995.00
246081,West Bengal,PURULIA,2014,Rabi,Rapeseed &Mustard,1885.0,1508.00
246082,West Bengal,PURULIA,2014,Rabi,Safflower,54.0,37.00
246083,West Bengal,PURULIA,2014,Rabi,Urad,220.0,113.00
246084,West Bengal,PURULIA,2014,Rabi,Wheat,1622.0,3663.00
246085,West Bengal,PURULIA,2014,Summer,Maize,325.0,2039.00
246086,West Bengal,PURULIA,2014,Summer,Rice,306.0,801.00
246087,West Bengal,PURULIA,2014,Summer,Sesamum,627.0,463.00
246088,West Bengal,PURULIA,2014,Whole Year,Sugarcane,324.0,16250.00
246089,West Bengal,PURULIA,2014,Winter,Rice,279151.0,597899.00
246090,West Bengal,PURULIA,2014,Winter,Sesamum,175.0,88.00

In [4]:
data.apply(lambda x:sum(x.isnull()),axis=0)

State_Name          0
District_Name       0
Crop_Year           0
Season              0
Crop                0
Area                0
Production       3730
dtype: int64

In [5]:
data.describe()

           Crop_Year          Area    Production
count  246091.000000  2.460910e+05  2.423610e+05
mean     2005.643018  1.200282e+04  5.825034e+05
std         4.952164  5.052340e+04  1.706581e+07
min      1997.000000  4.000000e-02  0.000000e+00
25%      2002.000000  8.000000e+01  8.800000e+01
50%      2006.000000  5.820000e+02  7.290000e+02
75%      2010.000000  4.392000e+03  7.023000e+03
max      2015.000000  8.580100e+06  1.250800e+09

In [6]:
from sklearn.preprocessing import LabelEncoder
number=LabelEncoder()
data['State_Name']=number.fit_transform(data['State_Name'].astype('str'))
data['District_Name']=number.fit_transform(data['District_Name'].astype('str')) 
data['Crop']=number.fit_transform(data['Crop'].astype('str'))
#data['State_Name']
data['District_Name']

0         427
1         427
2         427
3         427
4         427
5         427
6         427
7         427
8         427
9         427
10        427
11        427
12        427
13        427
14        427
15        427
16        427
17        427
18        427
19        427
20        427
21        427
22        427
23        427
24        427
25        427
26        427
27        427
28        427
29        427
         ...
246061    471
246062    471
246063    471
246064    471
246065    471
246066    471
246067    471
246068    471
246069    471
246070    471
246071    471
246072    471
246073    471
246074    471
246075    471
246076    471
246077    471
246078    471
246079    471
246080    471
246081    471
246082    471
246083    471
246084    471
246085    471
246086    471
246087    471
246088    471
246089    471
246090    471
Name: District_Name, Length: 246091, dtype: int32

In [7]:
data['State_Name']

0          0
1          0
2          0
3          0
4          0
5          0
6          0
7          0
8          0
9          0
10         0
11         0
12         0
13         0
14         0
15         0
16         0
17         0
18         0
19         0
20         0
21         0
22         0
23         0
24         0
25         0
26         0
27         0
28         0
29         0
          ..
246061    32
246062    32
246063    32
246064    32
246065    32
246066    32
246067    32
246068    32
246069    32
246070    32
246071    32
246072    32
246073    32
246074    32
246075    32
246076    32
246077    32
246078    32
246079    32
246080    32
246081    32
246082    32
246083    32
246084    32
246085    32
246086    32
246087    32
246088    32
246089    32
246090    32
Name: State_Name, Length: 246091, dtype: int32

In [8]:
data['Production'].fillna(0,inplace=True)

In [9]:
prod=data["Production"]
prod

0             2000.00
1                1.00
2              321.00
3              641.00
4              165.00
5         65100000.00
6              100.00
7                2.00
8               15.00
9              169.00
10            2061.00
11               1.00
12             300.00
13             192.00
14        64430000.00
15             100.00
16               1.00
17              33.00
18             510.84
19            2083.00
20            1278.00
21              13.50
22             208.00
23        67490000.00
24              28.80
25             133.00
26              40.00
27              90.17
28            1525.00
29            1763.00
             ...
246061          19.00
246062        2065.00
246063         100.00
246064          14.00
246065          74.00
246066          39.00
246067         727.00
246068           7.00
246069          42.00
246070        3287.00
246071         723.00
246072         203.00
246073          25.00
246074         332.00
246075         126.00
246076          51.00
246077          19.00
246078          40.00
246079          12.00
246080        9995.00
246081        1508.00
246082          37.00
246083         113.00
246084        3663.00
246085        2039.00
246086         801.00
246087         463.00
246088       16250.00
246089      597899.00
246090          88.00
Name: Production, Length: 246091, dtype: float64

In [10]:
st=data['State_Name']
st

0          0
1          0
2          0
3          0
4          0
5          0
6          0
7          0
8          0
9          0
10         0
11         0
12         0
13         0
14         0
15         0
16         0
17         0
18         0
19         0
20         0
21         0
22         0
23         0
24         0
25         0
26         0
27         0
28         0
29         0
          ..
246061    32
246062    32
246063    32
246064    32
246065    32
246066    32
246067    32
246068    32
246069    32
246070    32
246071    32
246072    32
246073    32
246074    32
246075    32
246076    32
246077    32
246078    32
246079    32
246080    32
246081    32
246082    32
246083    32
246084    32
246085    32
246086    32
246087    32
246088    32
246089    32
246090    32
Name: State_Name, Length: 246091, dtype: int32

In [11]:
crop=data['Crop']
crop

0           2
1          74
2          95
3           7
4          22
5          28
6          38
7         106
8         108
9         109
10          2
11         74
12         95
13         22
14         28
15         38
16        106
17        108
18         95
19          2
20          7
21         15
22         22
23         28
24         37
25         38
26        106
27         95
28          2
29          7
         ...
246061      6
246062     62
246063     63
246064     64
246065     65
246066     74
246067    100
246068    105
246069    107
246070    116
246071      3
246072     41
246073     43
246074     45
246075     52
246076     57
246077     61
246078     63
246079     81
246080     87
246081     92
246082     98
246083    116
246084    119
246085     59
246086     95
246087    102
246088    106
246089     95
246090    102
Name: Crop, Length: 246091, dtype: int32

In [12]:
prod=data["Production"]
prod

0             2000.00
1                1.00
2              321.00
3              641.00
4              165.00
5         65100000.00
6              100.00
7                2.00
8               15.00
9              169.00
10            2061.00
11               1.00
12             300.00
13             192.00
14        64430000.00
15             100.00
16               1.00
17              33.00
18             510.84
19            2083.00
20            1278.00
21              13.50
22             208.00
23        67490000.00
24              28.80
25             133.00
26              40.00
27              90.17
28            1525.00
29            1763.00
             ...
246061          19.00
246062        2065.00
246063         100.00
246064          14.00
246065          74.00
246066          39.00
246067         727.00
246068           7.00
246069          42.00
246070        3287.00
246071         723.00
246072         203.00
246073          25.00
246074         332.00
246075         126.00
246076          51.00
246077          19.00
246078          40.00
246079          12.00
246080        9995.00
246081        1508.00
246082          37.00
246083         113.00
246084        3663.00
246085        2039.00
246086         801.00
246087         463.00
246088       16250.00
246089      597899.00
246090          88.00
Name: Production, Length: 246091, dtype: float64

In [13]:
d=data['District_Name']
d

0         427
1         427
2         427
3         427
4         427
5         427
6         427
7         427
8         427
9         427
10        427
11        427
12        427
13        427
14        427
15        427
16        427
17        427
18        427
19        427
20        427
21        427
22        427
23        427
24        427
25        427
26        427
27        427
28        427
29        427
         ...
246061    471
246062    471
246063    471
246064    471
246065    471
246066    471
246067    471
246068    471
246069    471
246070    471
246071    471
246072    471
246073    471
246074    471
246075    471
246076    471
246077    471
246078    471
246079    471
246080    471
246081    471
246082    471
246083    471
246084    471
246085    471
246086    471
246087    471
246088    471
246089    471
246090    471
Name: District_Name, Length: 246091, dtype: int32

In [14]:
import statsmodels.api as sm 
model1=sm.OLS(prod,st).fit() 
predictions=model1.predict(st) 
model1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             Production   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     151.0
Date:                Tue, 21 Jan 2020   Prob (F-statistic):           1.05e-34
Time:                        09:52:27   Log-Likelihood:            -4.4454e+06
No. Observations:              246091   AIC:                         8.891e+06
Df Residuals:                  246090   BIC:                         8.891e+06
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
State_Name  2.101e+04   1709.144     12.290      0.000    1.77e+04    2.44e+04
==============================================================================
Omnibus:                   717617.498   Durbin-Watson:                   2.001
Prob(Omnibus):                  0.000   Jarque-Bera (JB):      37480777221.880
Skew:                          41.041   Prob(JB):                         0.00
Kurtosis:                    1913.123   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(st,prod,test_size=0.4,random_state=1)

X_train=X_train.values.reshape(-1,1)

from sklearn import linear_model as lm
model=lm.LinearRegression()
result=model.fit(X_train,Y_train)
result

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [16]:
Y_test_prediction=model1.predict(X_test)
Y_test_prediction

233380    651168.439070
208987    630163.005552
149482    462119.537405
95265     294076.069258
102433    336086.936294
142609    420108.670368
67191     210054.335184
76049     273070.635739
18340      63016.300555
200620    630163.005552
220774    630163.005552
2679       21005.433518
1907       21005.433518
85352     294076.069258
227080    630163.005552
113649    336086.936294
225470    630163.005552
225882    630163.005552
148302    462119.537405
215499    630163.005552
14139      63016.300555
192367    588152.138515
163072    504130.404442
101925    315081.502776
44000      84021.734074
163423    504130.404442
110355    336086.936294
108072    336086.936294
191855    588152.138515
135800    357092.369813
              ...
62748     189048.901666
155218    462119.537405
200890    630163.005552
232500    651168.439070
127222    357092.369813
244606    672173.872589
13291      63016.300555
91821     294076.069258
242070    672173.872589
81628     294076.069258
112545    336086.936294
237736    672173.872589
57025     168043.468147
218182    630163.005552
150855    462119.537405
163819    504130.404442
135340    357092.369813
153523    462119.537405
36808      84021.734074
232636    651168.439070
186637    567146.704997
241134    672173.872589
198195    609157.572034
218520    630163.005552
6507       21005.433518
205727    630163.005552
198456    630163.005552
114000    336086.936294
171748    525135.837960
177887    567146.704997
Length: 98437, dtype: float64

In [17]:
accuracy=model.score(X_train,Y_train)
print('Accuracy of the model:',accuracy)

Accuracy of the model: 8.118198499729168e-05

In [18]:
X = data[['State_Name', 'District_Name', 'Crop']]
y = data[['Area', 'Production']]

In [19]:
X

        State_Name  District_Name  Crop
0                0            427     2
1                0            427    74
2                0            427    95
3                0            427     7
4                0            427    22
5                0            427    28
6                0            427    38
7                0            427   106
8                0            427   108
9                0            427   109
10               0            427     2
11               0            427    74
12               0            427    95
13               0            427    22
14               0            427    28
15               0            427    38
16               0            427   106
17               0            427   108
18               0            427    95
19               0            427     2
20               0            427     7
21               0            427    15
22               0            427    22
23               0            427    28
24               0            427    37
25               0            427    38
26               0            427   106
27               0            427    95
28               0            427     2
29               0            427     7
...            ...            ...   ...
246061          32            471     6
246062          32            471    62
246063          32            471    63
246064          32            471    64
246065          32            471    65
246066          32            471    74
246067          32            471   100
246068          32            471   105
246069          32            471   107
246070          32            471   116
246071          32            471     3
246072          32            471    41
246073          32            471    43
246074          32            471    45
246075          32            471    52
246076          32            471    57
246077          32            471    61
246078          32            471    63
246079          32            471    81
246080          32            471    87
246081          32            471    92
246082          32            471    98
246083          32            471   116
246084          32            471   119
246085          32            471    59
246086          32            471    95
246087          32            471   102
246088          32            471   106
246089          32            471    95
246090          32            471   102

[246091 rows x 3 columns]

In [20]:
y

            Area   Production
0         1254.0      2000.00
1            2.0         1.00
2          102.0       321.00
3          176.0       641.00
4          720.0       165.00
5        18168.0  65100000.00
6           36.0       100.00
7            1.0         2.00
8            5.0        15.00
9           40.0       169.00
10        1254.0      2061.00
11           2.0         1.00
12          83.0       300.00
13         719.0       192.00
14       18190.0  64430000.00
15          46.0       100.00
16           1.0         1.00
17          11.0        33.00
18         189.2       510.84
19        1258.0      2083.00
20         213.0      1278.00
21          63.0        13.50
22         719.0       208.00
23       18240.0  67490000.00
24         413.0        28.80
25          47.3       133.00
26           5.0        40.00
27          52.0        90.17
28        1261.0      1525.00
29         266.0      1763.00
...          ...          ...
246061      49.0        19.00
246062     159.0      2065.00
246063     181.0       100.00
246064      16.0        14.00
246065     204.0        74.00
246066      79.0        39.00
246067     171.0       727.00
246068      18.0         7.00
246069      46.0        42.00
246070   11493.0      3287.00
246071     671.0       723.00
246072     198.0       203.00
246073      30.0        25.00
246074     660.0       332.00
246075     146.0       126.00
246076     160.0        51.00
246077      31.0        19.00
246078      64.0        40.00
246079      12.0        12.00
246080     477.0      9995.00
246081    1885.0      1508.00
246082      54.0        37.00
246083     220.0       113.00
246084    1622.0      3663.00
246085     325.0      2039.00
246086     306.0       801.00
246087     627.0       463.00
246088     324.0     16250.00
246089  279151.0    597899.00
246090     175.0        88.00

[246091 rows x 2 columns]

In [21]:
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(X_train.shape, X_test.shape, y_train.shape, X_test.shape)

(196872, 3) (49219, 3) (196872, 2) (49219, 3)

In [22]:
from sklearn.ensemble import RandomForestRegressor

reg = RandomForestRegressor(random_state=42)
reg.fit(X_train, y_train)
reg.predict(X_test)

C:\Users\sreev\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

array([[1.11376936e+03, 9.17915566e+02],
       [1.64000000e+02, 0.00000000e+00],
       [4.31381239e+02, 1.41895285e+02],
       ...,
       [6.40240801e+00, 2.03524026e+01],
       [2.00804582e+03, 2.03137200e+03],
       [1.40215137e+04, 1.11529218e+04]])

In [23]:
reg.score(X_test, y_test)

0.6798505821685107

In [25]:
print(reg.predict([[1,438,4]]))

[[9744.90302676 4058.09407841]]